@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.psychedelic-light-show {
  background: radial-gradient(circle, #ff00ff, #00ffff, #ff0000, #00ff00);
  background-size: 200% 200%;
  animation: psychedelic-animation 10s infinite linear;
}

@keyframes psychedelic-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes psychedelic-light-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
